:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-hero-background-color: #2F303A;
  --primary-backgraund-color: #FFFFFF;
  --hero-text-color: #FFFFFF;
  --additional-background: #F5F4FA;
  --social-icons-color: #AFB1B8;
  --button-activ-color: #188CE8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", "Arial", "Helvetica", "sans-serif";
  color: var(--primary-text-color);
  background-color: var(--primary-backgraund-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

ul,
li,
ol {
  list-style-type: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 47px;
  padding-bottom: 47px;
}

.page-header__list,
.page-header__list {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}

.container.main-nav {
  padding-top: 0;
  padding-bottom: 0;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__nav {
  display: flex;
  align-items: center;
}

.page-header__list {
  display: flex;
  margin-left: 93px;
}

.page-header__list .page-header__item:not(:last-child) {
  margin-right: 50px;
}

.page-header__link_current {
  position: relative;
}

.page-header__list .page-header__link_current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  display: inline-block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.page-header__contacts-list {
  display: flex;
}

.page-header__contacts-item:not(:last-child) {
  margin-right: 50px;
}

.page-header__link {
  color: var(--title-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__link:hover, .page-header__link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__contacts-list .page-header__contacts-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__contacts-list .page-header__contacts-link:hover, .page-header__contacts-list .page-header__contacts-link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link {
  color: var(--title-text-color);
  text-decoration: none;
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__list.nav__link_current {
  color: #2196F3;
}

.page-header__contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

.background {
  background-color: var(--footer-hero-background-color);
}

.logo.logo-text {
  display: block;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.container-contacts {
  margin-right: 70px;
}

.contacts-list__link {
  color: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link_color {
  color: rgba(255, 255, 255, 0.6);
}

.contacts-list {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.contacts-list__item {
  margin-bottom: 9px;
}

.container-social-icon__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.container-social-icon__list {
  display: flex;
}

.container-social-icon__item {
  display: flex;
}
.container-social-icon__item:not(:last-child) {
  margin-right: 10px;
}

.container-social-icon__link {
  display: flex;
  color: var(--social-icons-color);
  padding: 12px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-social-icon__link:hover, .container-social-icon__link:focus {
  color: #FFFFFF;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-social-icon__item svg {
  fill: currentColor;
}

.container-social-icon__link {
  color: var(--social-icons-color);
  background-color: #44454E;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-social-icon__link svg {
  fill: currentColor;
}

.container-social-icon__link:hover,
.container-social-icon__link:focus {
  color: #fff;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-social-icon {
  padding-top: 12px;
}

.container-footer {
  display: flex;
  padding: 60px 0;
}

/* form-footer */
.footer-form-btn {
  display: flex;
  align-items: center;
  padding: 10px 28px;
}

.icon-telegram {
  fill: currentColor;
  margin-left: 10px;
}

.futer-form-icon {
  display: contents;
}

.futer-form {
  margin-right: 0;
  margin-left: auto;
  width: 570px;
  padding-top: 12px;
}

.futer-form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-hero-background-color);
  padding-left: 16px;
  margin-right: 12px;
  color: #FFFFFF;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.futer-form-input:focus {
  border-color: var(--accent-color);
  cursor: text;
  outline: 1px var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.futer-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.futer-form-lable {
  display: flex;
}

.logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover, .logo:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .logo-text {
  display: block;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer .logo-text:hover, .footer .logo-text:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo span {
  color: var(--accent-color);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-backgraund-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  color: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  display: block;
  fill: currentColor;
}

.form-hero {
  display: block;
  list-style: none;
}

.form-list {
  list-style: none;
}

.form-input,
.form-textarea {
  display: block;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-input {
  height: 40px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover {
  cursor: pointer;
}
.form-input:focus {
  border-color: var(--accent-color);
  outline: 1px var(--accent-color);
  cursor: text;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field {
  position: relative;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  display: block;
  top: 50%;
  margin-left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field:focus-within > .form-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:hover {
  cursor: pointer;
}
.form-textarea:focus {
  border-color: var(--accent-color);
  outline: 1px var(--accent-color);
  cursor: text;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-list-item {
  margin-bottom: 10px;
}

.form-list {
  margin-bottom: 20px;
}

.form-label {
  display: flex;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-hero-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.form-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.form-text-link {
  cursor: pointer;
  color: var(--accent-color);
}
.form-text-link:hover {
  text-decoration: underline;
}

.checkbox {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.checkbox-icon {
  display: flex;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 4px;
}
.checkbox-input:focus + .checkbox-icon {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}
.checkbox-input:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  outline: none;
}

.checkbox input {
  margin-right: 7px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-right: 7px;
}

.checkbox-icon-svg {
  display: block;
  cursor: pointer;
}

.checkbox-icon-svg-use {
  display: none;
}
.checkbox-input:checked + .checkbox-icon .checkbox-icon-svg-use {
  display: block;
}

.form-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover, .form-btn:focus {
  background-color: var(--button-activ-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-hero {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  background-color: var(--footer-hero-background-color);
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover, .hero-btn:focus {
  background-color: var(--button-activ-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bcg {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 200px 0px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  transition: transform, cubic-bezier(0.17, 0.67, 0.96, 0.06) 350ms, opacity 1000ms, background-color 6000ms;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  background-color: rgb(0, 0, 0);
  transform: scale(0) rotate(180deg) translate(-23px, 80px) skew(-20deg, -41deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-backgraund-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.hidden__title {
  text-align: center;
}

.business__title {
  color: var(--title-text-color);
}

.business__list {
  display: flex;
  flex-wrap: wrap;
}

.business__list .business__item {
  width: calc((100% - 90px) / 4);
}

.business__list .business__item:not(:last-child) {
  margin-right: 30px;
}

.business__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.business__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.business__advantage {
  padding: 25px 100px;
  background-color: var(--additional-background);
  margin-bottom: 30px;
  border-radius: 4px;
}

.business {
  padding-top: 94px;
}

.profile {
  padding-bottom: 94px;
}

.profile__title {
  color: var(--title-text-color);
}

.profile__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.profile__title {
  margin-bottom: 50px;
}

.profile__list {
  display: flex;
  flex-wrap: wrap;
}

.profile__item {
  width: calc((100% - 60px) / 3);
}
.profile__item:not(:last-child) {
  margin-right: 30px;
}

.profile__img {
  display: block;
}

.profile__container-img {
  position: relative;
}

.profile__text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-text-color);
  background: rgba(47, 48, 58, 0.8);
}

.bcg-team {
  background-color: var(--additional-background);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
}

.team__item {
  width: calc((100% - 90px) / 4);
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__title {
  padding: 47px 0 50px 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__secondry-title,
.team__text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__secondry-title {
  color: var(--title-text-color);
  font-weight: 500;
  margin-bottom: 10px;
}

.team__text {
  margin-bottom: 16px;
}

.team__conteiner-text {
  padding: 30px 0;
}

.team__img {
  display: block;
}

.team {
  padding-bottom: 94px;
}

.team__list-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team__item-social {
  display: flex;
}
.team__item-social:not(:last-child) {
  margin-right: 10px;
}

.team__link-social {
  display: flex;
  color: var(--social-icons-color);
  padding: 12px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link-social:hover, .team__link-social:focus {
  color: #FFFFFF;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__icon-sicial {
  fill: currentColor;
}

.regular-customers__title {
  margin-bottom: 50px;
  text-align: center;
  color: var(--title-text-color);
}

.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.regular-customers__list {
  display: flex;
  flex-wrap: wrap;
}

.regular-customers__item {
  border: 1px solid #AFB1B8;
  border-radius: 3px;
  height: 92px;
  width: calc((100% - 150px) / 6);
  box-sizing: border-box;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customers__item:hover, .regular-customers__item:focus {
  border: 1px solid #2196F3;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers__item:not(:last-child) {
  margin-right: 30px;
}

.regular-customers__link {
  display: flex;
  padding: 16px 32px;
  color: var(--social-icons-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customers__link:hover, .regular-customers__link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers__icon {
  fill: currentColor;
}

.portfolio__secondary-title {
  color: var(--title-text-color);
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.portfolio__projects-description {
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio__filter-button {
  padding: 6px 22px;
  border-radius: 4px;
}

.portfolio__filter-button-size {
  padding: 6px 25px;
}

.portfolio__filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__projects-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__projects-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__projects-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__projects-item:nth-child(3n+3) {
  margin-right: 0;
}

.portfolio__projects-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio__container-item-text {
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  padding: 20px 24px;
}

.business__description {
  color: var(--primary-text-color);
}

.portfolio__projects-img {
  display: block;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__container-img {
  position: relative;
  overflow: hidden;
}

.portfolio__container-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 63px 24px;
  color: var(--hero-text-color);
}

.portfolio__container-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
}

.portfolio__container-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__projects-link:hover .portfolio__container-overlay,
.portfolio__projects-link:focus .portfolio__container-overlay {
  opacity: 0.9;
}

.portfolio__projects-link:hover .portfolio__container-overlay,
.portfolio__projects-link:focus .portfolio__container-overlay {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__filter-button {
  border: none;
}

.portfolio__filter-button,
.portfolio__filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__filter-button:hover, .portfolio__filter-button:focus,
.portfolio__filter-button:hover,
.portfolio__filter-button:focus {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */