.hidden__title {
    text-align: center;  
}

.business__title {
    color: var(--title-text-color);
}

.business__list {
    display: flex;
    flex-wrap: wrap;
}

.business__list .business__item {
    width: calc((100% - 90px) / 4);
}

.business__list .business__item:not(:last-child) {
    margin-right: 30px;
}


.business__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.business__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.business__advantage {
    padding: 25px 100px;
    background-color: var(--additional-background);
    margin-bottom: 30px;
    border-radius: 4px;
}

.business {
    padding-top: 94px;
}