.page-header__list,
.page-header__list {
    @include font(14px, 500, 16px);
    letter-spacing: 0.02em;
}

.page-header {
    border-bottom: 1px solid #ECECEC;
}

.container.main-nav {
    padding-top: 0;
    padding-bottom: 0;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-header__nav {
    display: flex;
    align-items: center;
}

.page-header__list {
    display: flex;
    margin-left: 93px;
}

.page-header__list .page-header__item:not(:last-child) {
    margin-right: 50px;
}

.page-header__link_current {
    position: relative;
}

.page-header__list .page-header__link_current::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    display: inline-block;
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}


// contacts-header

.page-header__contacts-list {
    display: flex;
}

.page-header__contacts-item:not(:last-child) {
    margin-right: 50px;
}

.page-header__link {
    color: var(--title-text-color);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.page-header__link:hover, .page-header__link:focus {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.page-header__contacts-list .page-header__contacts-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.nav__link {
    color: var(--title-text-color);
    text-decoration: none;

    &:hover,
    &:focus {
        color: var(--accent-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}



.page-header__list.nav__link_current {
    color: #2196F3;
}

.page-header__contacts-icon {
    fill: currentColor;
    margin-right: 10px;
}


